{% extends 'base.html' %}

{% load static %}


{% block content %}

    <div class="form-group">
      <label for="exampleTextarea" class="form-label mt-4">textarea</label>
      <textarea class="form-control" id="chat-log" rows="3"></textarea>
    </div>

    <div class="form-group">
      <label class="col-form-label col-form-label-lg mt-4" for="inputLarge"></label>
      <input class="form-control form-control-lg" type="text" placeholder="Type your message..." id="chat-message-input">
    </div>
    
    <input class="btn btn-info" id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock content %}